@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&family=Space+Grotesk:wght@300;400;500&family=Roboto+Mono:wght@200&display=swap');
body{
    font-family: 'Roboto Mono', monospace;
    background-color: #3d3d5c;
    color: white;
}
h1{
    text-align: center;
    font-size: 4em;
    font-weight: 300;
	margin-top: 10%;
	margin-bottom: 2%;
}
h2{
    text-align: center;
    font-size: 2em;
    font-weight: 300;
}
.main {
	margin-left: 15%;
	margin-right: 15%;
	border-radius: 30px;
	animation-name: rise;
	animation-duration: 0.9s;
	animation-play-state: running;
	animation-iteration-count: 1;
	margin-top: 5%;
	background-color: rgb(134, 134, 148);
}
.text{
	font-size: 1.2rem;
	font-weight: 100;
	font-family: 'Roboto Mono', monospace;
}
.title{
    text-align: center;
	margin-bottom: 5%;
}
.iconLink{
	color: white;
	margin-left: 2%;
	margin-right: 2%;

}
#mainBody{
	padding-left: 10%;
	padding-right: 10%;

}
#githubRepos{
	padding-left: 2%;
	padding-right: 2%;
	text-align: center;
}
div{
	display: block;
	padding: 10px;
}

@keyframes rise {
	from {
		margin-top: 100%;
   }
	to {
		margin-top: 5%;
   }
}
/* Firefox < 16 */
@-moz-keyframes rise {
	from {
		margin-top: 100%;
   }
	to {
		margin-top: 5%;
   }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes rise {
	from {
		margin-top: 100%;
   }
	to {
		margin-top: 5%;
   }
}
/* Internet Explorer */
@-ms-keyframes rise {
	from {
		margin-top: 100%;
   }
	to {
		margin-top: 5%;
   }
}
/* Opera < 12.1 */
@-o-keyframes rise {
	from {
		margin-top: 100%;
   }
	to {
		margin-top: 5%;
   }
}